# Data Types and Structures - Questions

---

Q.1. What are data structures, and why are they important?

 - Data structures are organized ways to store and manage data. They're important because they allow for efficient access, manipulation, and storage of information, optimizing program performance.bold text


Q.2. Explain the difference between mutable and immutable data types with examples?
  - Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable data types cannot be changed after creation (e.g., integers, strings, tuples).


Q.3. What are the main differences between lists and tuples in Python?
  
  - The main differences between lists and tuples in Python are:
  * Mutability: Lists are mutable (changeable), while tuples are immutable (unchangeable).
  * Syntax: Lists use square brackets [], while tuples use parentheses ().
  * Use Case: Lists are used for collections of items that might change, while tuples are used for fixed collections of items or as dictionary keys.


Q.4. Describe how dictionaries store data.

  - Python dictionaries store data as key-value pairs using a hash table implementation.
  
  Here's a brief breakdown:
  
  * Key-Value Pairs: Each piece of data has a unique "key" that you use to access its associated "value."
  Hash Table: Dictionaries use a hash table internally. When you add a key-value pair, the key is "hashed" (transformed into a numerical hash code). This hash code is then used to determine where in memory to store the key-value pair.
  
  * Efficient Lookup: This hashing mechanism allows for very fast lookups of values given their keys, as it can quickly jump to the correct location in memory.
  
  * Unordered (pre-Python 3.7): Historically, dictionaries were unordered. From Python 3.7 onwards, they maintain insertion order.
  Mutable: You can add, remove, and change key-value pairs after a dictionary is created.
  
  * Unique and Immutable Keys: Keys must be unique and immutable (like strings, numbers, or tuples) to ensure consistent hashing. Values can be of any data type and can be duplicated.


Q.5. Why might you use a set instead of a list in pyhton?

  - You'd use a set when:
  * **bold text** You need unique items: Sets automatically remove duplicates.
  * Order doesn't matter: Sets don't keep items in any specific order.
  * You need to check for item existence quickly: Sets are very fast at this.
  * You want to do math-like operations: Like finding common item (intersection) or differences.


Q.6. What is a string in Python, and how is it different from list?
  - A string is a sequence of characters (like letters, numbers, symbols).
  It's different from a list because:
  * Strings are immutable: You can't change individual characters in a string once it's made. You have to create a new string if you want to modify it.
  * Lists are mutable: You can add, remove, or change items in a list after it's made.
  * Strings hold characters: They are specifically for text.
  * Lists can hold anything: They can store numbers, other lists, strings, etc.


Q.7. How do tuples ensure data integrity in Python?

  - Tuples ensure data integrity in Python because they are immutable.
  This means once a tuple is created, its elements cannot be changed, added, or removed. This prevents accidental modification of the data they hold.


Q.8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is like a special storage system where you can find things super fast. It takes a "key" (like a word) and turns it into a short code, which tells it exactly where to put or find the "value" linked to that key.
  Python dictionaries use hash tables behind the scenes. This is why dictionaries are incredibly fast at looking up values when you give them a key.


Q.9. Can lists contain different data types in Python?

  - Yes! Python lists can hold different data types in the same list. For example, a list could contain a number, a string, and even another list.


Q.10. Explain why strings are immutable in Python.

  - Strings are immutable in Python because you cannot change them after they are created. If you try to modify a character in a string, Python actually creates a brand new string with the changes, instead of altering the original one in memory.
  
  This makes strings reliable and safe, especially when shared between different parts of a program.


Q.11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries are better than lists when:
  * Fast Lookups: You need to find a specific item very quickly by its name or label (the "key"), rather than searching through a numbered list.
  
  * Organized Data: You want to store data as pairs, where each piece of information has a clear label (like "name": "Alice", "age": 30). This makes the data easy to understand and work with.


Q.12. Describe a scenario where using a tuple would be preferable over a list?

  - You'd use a tuple when you have items that should never change, like a birth date (day, month, year).
  * A tuple keeps these items locked together so they can't be accidentally altered.
  * A list lets you change or remove items, which you wouldn't want for something fixed like a birth date.


Q.13. How do sets handle duplicate values in Python?

  - Sets automatically remove duplicates. If you try to add an item that's already there, the set just ignores it, ensuring every item is unique.


Q.14. How does the “in” keyword work differently for lists and dictionaries?

  - The "in" keyword checks:
  * For lists: Does this thing (the item) exist in the list?
  * Example: Is apple in [banana, apple]? Yes.
  * For dictionaries: Does this label (the key) exist in the dictionary?
  * Example: Is color in {"fruit": "apple", "color": "red"}? Yes. (It doesn't check for "apple" or "red" directly).


Q.15. Can you modify the elements of a tuple? Explain why or why not.

  - No, you cannot modify the elements of a tuple.
  This is because tuples are immutable. Once a tuple is created, its contents are fixed in memory and cannot be changed, added, or removed. If you need to "change" a tuple, you actually have to create a brand new tuple with the desired modifications.


Q.16. What is a nested dictionary, and give an example of its use case?

  - You didn't provide a question or a topic for me to elaborate on! Please tell me what you'd like to know or what I should describe using "short & simple words."


Q.17. Describe the time complexity of accessing elements in a dictionary?

  - The time complexity of accessing elements in a dictionary is, on average, O(1) (constant time).
  This means that no matter how many items are in the dictionary, retrieving a value by its key generally takes the same amount of time.
  
  In the worst-case scenario, it can degrade to O(n) (linear time) if there are many hash collisions, but this is rare with well-designed hash functions.


Q.18. In what situations are lists preferred over dictionaries?

  - Lists are preferred over dictionaries when:
  * Order matters: You need to maintain a specific sequence of items.
  * Items are unique, or their repetition is significant, and you need to access them by position: You care about the first item, second item, etc.
  * You don't need named labels for items: A simple collection of values is sufficient.


Q.19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Why Dictionaries Were Unordered (Historically):
  * Imagine a messy box of toys. You throw toys in, and when you want a specific toy, you just reach in and grab it by its name (the "key"). You don't care where it is in the box. Dictionaries were like that, optimized for finding things quickly by their name (key), not for remembering the order you put them in.
  
  How it Affected Data Retrieval (Historically):
  * Because there was no fixed order, you couldn't say "give me the 3rd toy." If you emptied the box and put the toys back, they might end up in a different order. So, you always had to ask for them by their name.
  
  What Changed (Python 3.7+):
  * Now, in newer Python, dictionaries do remember the order you add items. So, if you list them out, they'll appear in that order. However, their main job is still to find things super fast using keys, not to be used like an ordered list.


Q.20.  Explain the difference between a list and a dictionary in terms of data retrieval.

  - Think of it like finding something in a real-world storage system:
  * List (like a numbered list/shelf):
  * How you find data: You ask for it by its position (e.g., "give me the item at position 3," or "the 2nd item"). You need to know its number.
  * Good for: When the order of things matters, and you know their exact place.
  * Dictionary (like a labeled cabinet with drawers):
  * How you find data: You ask for it by its name/label (the "key," e.g., "give me the 'address' information," or "the data for 'John'"). You don't care about its position, only its unique label.
  * Good for: When you need to quickly find specific information using a descriptive name, not a number.

# **Practical Questions**

Q.1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "pujan"
print(my_name)

pujan

Q.2.  Write a code to find the length of the string "Hello World".

In [ ]:
my_string = "Hello World"
length = len(my_string)
print(length)

11

Q.3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
my_string = "Python Programming"
first_three_chars = my_string[0:3] # or simply my_string[:3]
print(first_three_chars)

Pyt

Q.4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_string = "hello world"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO WORLD

Q.5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
my_string = "I like grapes"
new_string = my_string.replace("grapes", "orange")
print(new_string)

I like orange

Q.6 Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

Q.7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q.8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q.9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1] # Lists use 0-based indexing, so the second element is at index 1
print(second_element)

b

Q.10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse() # This reverses the list in-place
print(my_list)

[50, 40, 30, 20, 10]

Q.11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q.12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2] # Negative indexing starts from the end, so -1 is the last, -2 is second to last
print(second_to_last_element)

blue

Q.13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

Q.14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

Q.15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits_tuple = ("apple", "banana", "orange")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

Q.16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

Q.17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Q.18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Q.19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2) # Or set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

Q.20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2) # Or set1 & set2
print(intersection_set)

{2, 3}

Q.21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [2]:
my_dict = {
    "name": "pujan",
    "age": 22,
    "city": "Tirora"
}
print(my_dict)

{'name': 'pujan', 'age': 22, 'city': 'Tirora'}

Q.22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

Q.24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Method 1: Using del keyword
del my_dict['age']
print(my_dict)  # Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
# Method 2: Using pop() method
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

Q.25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dict:
    print("Yes, 'city' is there.")
else:
    print("No, 'city' is not there.")

Yes, 'city' is there.

Q.26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2]
my_tuple = (3, 4)
my_dict = {"a": 5}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2]
(3, 4)
{'a': 5}

Q.27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

# Get 5 random numbers
numbers = [random.randint(1, 100) for _ in range(5)]

# Arrange them smallest to largest
numbers.sort()

# Show the numbers
print(numbers)

[2, 37, 43, 49, 85]

Q.28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (remembering that indexing starts at 0)
print(my_list[3])

date

Q.29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'Swapnil', 'age': 25}
dict2 = {'city': 'Khandala', 'occupation': 'Businessman'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print(combined_dict)

{'name': 'Swapnil', 'age': 25, 'city': 'Khandala', 'occupation': 'Businessman'}

Q.30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list to a set
my_set = set(my_list)

# Print the result
print(my_set)

{'cherry', 'date', 'banana', 'apple'}